/* Assigning Colors to Variables for better Use*/
:root 
{
	--primary-color: #c33c73;
	--primary-color-dark: #5e013e;
	--secondary-color: #ff76b4;
	--text-dark: #0b0005;
	--text-light: #6b7280;
	--extra-light: #fdd3ea;
	--max-width: 1500px;
}

/* Setting Entire Page to Border-box */
*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/* Removing Anchor Tag Decorations*/
a 
{
	text-decoration: none;
}
/* Selecting Font Family  */
body 
{
	font-family: "Poppins", sans-serif;
	font-size: medium;
}

/*
------------------------------------------------
------------------------------------------------
			Navigation Bar Styling
------------------------------------------------
------------------------------------------------
*/

nav 
{
	border-radius: 0px 0px 10px 10px;
	z-index: 2;
	height: 12;
	background-color: var(--extra-light);
	width: 100%;
	position: fixed;
}

.kalsoom-navbar 
{
	max-width: var(--max-width);
	margin: auto;
	padding: 1.5rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav .kalsoom-signature a 
{
	font-family: 'Great Vibes', cursive;
	font-size: 2rem;
	font-weight: 600;
	color: var(--primary-color);
	transition: 0.3s;
}

nav .kalsoom-checkbox 
{
	display: none;
}

nav input 
{
	display: none;
}
nav .kalsoom-checkbox i 
{
	font-size: 1.75rem;
	color: var(--text-dark);
	cursor: pointer;
}

ul 
{
	list-style: none;
	display: flex;
	align-items: center;	
	transition: left 0.5s;
	
}

ul li a 
{
	padding: 1rem 1rem;
	border: 2px solid transparent;
	text-decoration: none;
	font-weight: 600;
	color:var(--primary-color);
	transition: 0.3s;
}

ul li a:hover 
{
	border-top-color: var(--secondary-color);
	border-bottom-color: var(--secondary-color);
	color: var(--text-dark);
}

/*
------------------------------------------------
------------------------------------------------
			Background Styling
------------------------------------------------
------------------------------------------------
*/

video 
{
	width: 100%;
	height: auto;
	position: fixed;
	top: 15;
	left: 0;
	z-index: -1;
	
}

.kalsoom-mobile
{
	display: none;
}

.kalsoom-overlay {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 15;
	left: 0;
	background: rgba(0, 0, 0, 0.8); /* Adjust the last value for opacity */
	/* z-index: 1; */
}

/*
------------------------------------------------
------------------------------------------------
			Main Section Styling
------------------------------------------------
------------------------------------------------
*/

.content 
{
	width: 100%;
	position: relative;
	top: 20vh;
	color: var(--secondary-color);
	font-size: 1em;

}

.row {
	width: 100%;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
	float: left;
}
.col-lg-1 {
	width: 8.33%;
}
.col-lg-2 {
	width: 16.66%;
}
.col-lg-3 {
	width: 25%;
}
.col-lg-4 {
	width: 33.33%;
}
.col-lg-5 {
	width: 41.66%;
}
.col-lg-6 {
	width: 50%;
}
.col-lg-7 {
	width: 58.33%;
}
.col-lg-8 {
	width: 66.66%;
}
.col-lg-9 {
	width: 74.99%;
}
.col-lg-10 {
	width: 83.33%;
}
.col-lg-11 {
	width: 91.66%;
}
.col-lg-12 {
	width: 100%;
}



/*
------------------------------------------------
------------------------------------------------
			Footer Styling
------------------------------------------------
------------------------------------------------
*/

.kalsoom-footer {
	width: 100%;
	position: fixed;
    bottom: 0;
	background-color: var(--text-dark);
	color: var(--primary-color);
	padding: 1rem;
	text-align: center;
}

.kalsoom-footer a {
	text-decoration: none;
	color: var(--secondary-color);
	margin: 10px;
	display: inline-block;
}

.kalsoom-footer a:hover {
	text-decoration: underline;
}

.social-icons {
	font-size: 1em;
}
i{
	color: var(--primary-color);
}
@media (width < 900px) {

}
.kalsoom-video{
	display: block;
	width: 100%;
	position: fixed;
	top: 15;
	left: 0;
	z-index: -1;
}

/*
------------------------------------------------
------------------------------------------------
			Mobile Device Styling
------------------------------------------------
------------------------------------------------
*/

@media (width < 900px) 
{
	/*
	------------------------------------------------
	------------------------------------------------
				Navbar Style
	------------------------------------------------
	------------------------------------------------
	*/
	nav .kalsoom-navbar
	{
		padding: 1.5rem 1.5rem;
	}
	.kalsoom-checkbox 
	{
		color: var(--primary-color) !important;
		display: block !important;
	}
	ul 
	{
		position: absolute;
		width: 100%;
		height: calc(100vh - 80px);
		left: -100%;
		top: 80px;
		background-color: #0b0005;
		flex-direction: column;
		justify-content: center;
		gap: 3.5rem;
	}
	nav #check:checked ~ ul 
	{
		left: 0;
	}
	ul li a 
	{
		
		color:var(--secondary-color);
		font-size: 1.25rem;
	}
	ul li a:hover 
	{
		border-top-color: var(--secondary-color);
		border-bottom-color: var(--secondary-color);
		color: var(--extra-light);
	}
	/*
	------------------------------------------------
	------------------------------------------------
				Background Style
	------------------------------------------------
	------------------------------------------------
	*/

	video {
		display: none; /* Hide the video on smaller screens */
	}

	.kalsoom-mobile{
		display: block;
		width: 100%;
		position: fixed;
		top: 15;
		left: 0;
		z-index: -1;
	}

		/*
	------------------------------------------------
	------------------------------------------------
				Main Section Responsive Style
	------------------------------------------------
	------------------------------------------------
	*/

	.content{
		top: 10vh;
	}
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
		float: left;
	}
	.col-md-1 {
		width: 8.33%;
	}
	.col-md-2 {
		width: 16.66%;
	}
	.col-md-3 {
		width: 25%;
	}
	.col-md-4 {
		width: 33.33%;
	}
	.col-md-5 {
		width: 41.66%;
	}
	.col-md-6 {
		width: 50%;
	}
	.col-md-7 {
		width: 58.33%;
	}
	.col-md-8 {
		width: 66.66%;
	}
	.col-md-9 {
		width: 74.99%;
	}
	.col-md-10 {
		width: 83.33%;
	}
	.col-md-11 {
		width: 91.66%;
	}
	.col-md-12 {
		width: 100%;
	}

		/*
	------------------------------------------------
	------------------------------------------------
				footer Style
	------------------------------------------------
	------------------------------------------------
	*/
	.kalsoom-footer a 
	{
		display: block;
	}
}
